{% load staticfiles %}
<html>
    <head>
        <title>Titre</title>
    </head>
    <body>
        <div>
            <h1><a href="">Matériauthèque</a></h1>
            <br>
            <h2><a href="{% url "sousFamilles_path" %}">Sous-Familles</a></h2>
        </div>
        <div>
            <h2><a href="{% url "familles_path" %}">Familles</a></h2>
        </div>
        <div>
            <h2><a href="{% url "materiaux_path" %}">Matériaux</a></h2>
        </div>
        <div>
            <h2><a href="{% url "proprietes_path" %}">Propriété</a></h2>
        </div>
        <div>
            <h2>Dernières matériaux entrés :</h2>
            {% for mat in last_matx %}
                <a href="{% url 'materiau_path' mat.slug %}">{{ mat.nom }}</a>
                <br>
            {% endfor %}
        </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}
                    <br>
                    {{ field }}
                    <br>
                {% endfor %}
                <input type="submit" value="enregistrer">
            </form>
        </div>
    </body>
</html>