<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {{ mat.famille }}
        {{ mat.usage }}
        <img src="{{ mat.qrcode }}" alt="qrcode">
        {% for propriete in proprietes %}
            <a href="{% url 'propriete_path' propriete.slug %}"><p>{{ propriete.slug }}</p></a>
            <p>{{ propriete.valeur }}</p>
        {% endfor %}
        <br />
        <input type="button" value="Générer PDF" OnClick="window.location.href='{{ request.path }}generatePDF'" />

</body>
</html>