{% extends 'base.html' %}

{% block content %}

    <div class="page-header" style="text-transform: uppercase"><h1>{{ mat.nom }}</h1></div>

    <p>
    <br />Famille • {{ mat.famille }}
    <br />Sous-famille • {{ mat.ss_famille }}
    <br />Usage • {{ mat.usage }}
    <br />Fournisseur • {{ mat.fournisseur }}
    <br />Disponible ? {{ mat.disponible }}
    <br />Normatif • {{ mat.normatif }}
    </p>

    <div><h3>Propriétés</h3></div>

        {% for propriete in proprietes %}
            {% if propriete.valeur != -1 %}
                <p><a href="{% url 'propriete_path' propriete.slug %}">{{ propriete.slug }}</a> : {{ propriete.valeur }} {{ propriete.unite }}</p>
                <br>
            {% endif %}
        {% endfor %}

    <div><h3>Images</h3></div>

        <div class="row">
            {% for image in images %}
                <div class="col-sm-12 col-md-6">
                    <a href="{% url 'image_path' image.id %}"><div class="imagethumbnail"><img src="{{ image.imagefile.url }}" alt="image"></div></a>
                </div>
            {% endfor %}
        </div>

    <div><h3>QR code</h3></div>

    <img src="{{ mat.qrcode.url }}" alt="qrcode" width="300">

        <br>
    <a href ="{% url 'new_image_path' mat.slug %}"><button type="button" class="btn btn-sm btn-default">Ajouter une photo</button></a>
    <a href="{% url 'edit_materiau_path' mat.slug %}"><button type="button" class="btn btn-sm btn-default">Editer</button></a>
    <a href="{% url 'delete_materiau_path' mat.slug %}"><button type="button" class="btn btn-sm btn-danger">Supprimer</button></a>
    <a href="generatePDF"><button type="button" class="btn btn-sm btn-primary">Générer PDF</button></a>

{% endblock content %}