<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {{ mat.famille }}
        {{ mat.usage }}
        <img src="{{ mat.qrcode.url }}" alt="qrcode" width="300">
        {% for propriete in proprietes %}
            {% if propriete.valeur != -1 %}
                <p><a href="{% url 'propriete_path' propriete.slug %}">{{ propriete.slug }}</a> : {{ propriete.valeur }} {{ propriete.unite }}</p>
                <br>
            {% endif %}
        {% endfor %}
        <a href="{% url 'edit_materiau_path' mat.slug %}">Editer</a>
        <br>
        <a href="{% url 'delete_materiau_path' mat.slug%}">Supprimer</a>
        <br>
        <input type="button" value="Générer PDF" OnClick="window.location.href='{{ request.path }}generatePDF'" />

</body>
</html>