{% extends 'base.html' %}

{% block content %}

    <h1>Matériaux</h1>

    <a class="btn btn-lg btn-primary" href="{% url "sousFamilles_path" %}">Sous-familles</a>
    <a class="btn btn-lg btn-primary" href="{% url "familles_path" %}">Familles</a>
    <a class="btn btn-lg btn-default" href="{% url 'new_materiau_path' %}">Nouveau</a>
    <br />
    <br />
{% for materiau in materiaux %}
    <a href="{% url 'materiau_path' slug=materiau.slug %}">{{ materiau.nom }}</a>
    <br />
{% endfor %}

{% endblock content %}