{% extends 'base.html' %}

{% block content %}

    <h1>Packs</h1>

    <div><a class="btn btn-lg btn-primary" href="{% url "famillesPack_path" %}">Familles packs</a>
    <a class="btn btn-lg btn-primary" href="{% url "sousFamillesPack_path" %}">Sous-familles packs</a>
    <a class="btn btn-lg btn-default" href="{% url 'new_pack_path' %}">Nouveau</a></h2></div>
    <br />
    <div>
{% for pack in packs %}
    <a href="{% url 'pack_path' slug=pack.slug %}">{{ pack.nom }}</a>
    <br />
{% endfor %}
</div>
{% endblock content %}