<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        {{ prop.slug }}
        <br>
        {{ prop.unite }}
        <br>
        {{ prop.definition }}
        <br >
        <a href="{% url 'edit_propriete_path' prop.slug %}">Editer</a>
        <br>
        <a href="{% url 'delete_propriete_path' prop.slug %}">Supprimer</a>
        <br>
        <input type="button" value="Générer PDF" OnClick="window.location.href='{{ request.path }}generatePDF'" />

</body>
</html>